# Imports

In [1]:
import requests
import bs4
import pandas as pd
import numpy as np
import glob
import os
from tqdm import tqdm

In [3]:
TICKER_DATA_PATH = 'Data/Ticker_Data'

# Commodities

## Ticker Info For Commodities

The ticker are for Yahoo Finance.

In [7]:
commodities = [
    ["GC=F", "Gold"],
    ["SI=F", "Silver"],
    ["CL=F", "Oil"],
    ["NG=F", "Gas"],
    ["HG=F", "Copper"],
    ["ZC=F", "Corn"],
    ["ZS=F", "Soybeans"],
    ["ZW=F", "Wheat"],
    ["SB=F", "Sugar"],
    ["KC=F", "Coffee"],
    ["CC=F", "Cocoa"],
    ["CT=F", "Cotton"],
    ["PL=F", "Platinum"],
    ["PA=F", "Palladium"],
]

In [8]:
commodities = pd.DataFrame(commodities, columns=["Ticker", "Name"])
commodities

   Ticker       Name
0    GC=F       Gold
1    SI=F     Silver
2    CL=F        Oil
3    NG=F        Gas
4    HG=F     Copper
5    ZC=F       Corn
6    ZS=F   Soybeans
7    ZW=F      Wheat
8    SB=F      Sugar
9    KC=F     Coffee
10   CC=F      Cocoa
11   CT=F     Cotton
12   PL=F   Platinum
13   PA=F  Palladium

In [9]:
commodities.to_csv(TICKER_DATA_PATH + 'commodities.csv', index=False)

# Indices

In [12]:
indices = pd.read_html("https://finance.yahoo.com/world-indices/")[0]

In [15]:
indices = indices[["Symbol", "Name"]]
indices

       Symbol                       Name
0       ^GSPC                    S&P 500
1        ^DJI                     Dow 30
2       ^IXIC                     Nasdaq
3        ^NYA        NYSE COMPOSITE (DJ)
4        ^XAX  NYSE AMEX COMPOSITE INDEX
5    ^BUK100P                Cboe UK 100
6        ^RUT               Russell 2000
7        ^VIX      CBOE Volatility Index
8       ^FTSE                   FTSE 100
9      ^GDAXI      DAX PERFORMANCE-INDEX
10      ^FCHI                     CAC 40
11  ^STOXX50E             ESTX 50 PR.EUR
12      ^N100         Euronext 100 Index
13       ^BFX                     BEL 20
14   IMOEX.ME          MOEX Russia Index
15      ^N225                 Nikkei 225
16       ^HSI            HANG SENG INDEX
17  000001.SS        SSE Composite Index
18  399001.SZ             Shenzhen Index
19       ^STI                  STI Index
20      ^AXJO                S&P/ASX 200
21      ^AORD             ALL ORDINARIES
22     ^BSESN             S&P BSE SENSEX
23      ^JKSE    Jakarta Composite Index
24      ^KLSE   FTSE Bursa Malaysia KLCI
25      ^NZ50     S&P/NZX 50 INDEX GROSS
26      ^KS11      KOSPI Composite Index
27      ^TWII        TSEC weighted index
28    ^GSPTSE    S&P/TSX Composite index
29      ^BVSP                   IBOVESPA
30       ^MXX                 IPC MEXICO
31      ^IPSA               S&P/CLX IPSA
32      ^MERV                     MERVAL
33  ^TA125.TA                     TA-125
34    ^CASE30  EGX 30 Price Return Index
35   ^JN0U.JO   Top 40 USD Net TRI Index

In [16]:
indian_indices = np.array([["Nifty 50", "^NSEI"],
                           ["Nifty Bank", "^NSEBANK"],
                           ["SENSEX", "^BSESN"],
                           ["India Vix", "^INDIAVIX"]])

indian_indices = pd.DataFrame(indian_indices, columns=["Name", "Symbol"])
indices = indices.append(indian_indices, ignore_index=True)
indices

/tmp/ipykernel_32858/3383162324.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  indices = indices.append(indian_indices, ignore_index=True)

       Symbol                       Name
0       ^GSPC                    S&P 500
1        ^DJI                     Dow 30
2       ^IXIC                     Nasdaq
3        ^NYA        NYSE COMPOSITE (DJ)
4        ^XAX  NYSE AMEX COMPOSITE INDEX
5    ^BUK100P                Cboe UK 100
6        ^RUT               Russell 2000
7        ^VIX      CBOE Volatility Index
8       ^FTSE                   FTSE 100
9      ^GDAXI      DAX PERFORMANCE-INDEX
10      ^FCHI                     CAC 40
11  ^STOXX50E             ESTX 50 PR.EUR
12      ^N100         Euronext 100 Index
13       ^BFX                     BEL 20
14   IMOEX.ME          MOEX Russia Index
15      ^N225                 Nikkei 225
16       ^HSI            HANG SENG INDEX
17  000001.SS        SSE Composite Index
18  399001.SZ             Shenzhen Index
19       ^STI                  STI Index
20      ^AXJO                S&P/ASX 200
21      ^AORD             ALL ORDINARIES
22     ^BSESN             S&P BSE SENSEX
23      ^JKSE    Jakarta Composite Index
24      ^KLSE   FTSE Bursa Malaysia KLCI
25      ^NZ50     S&P/NZX 50 INDEX GROSS
26      ^KS11      KOSPI Composite Index
27      ^TWII        TSEC weighted index
28    ^GSPTSE    S&P/TSX Composite index
29      ^BVSP                   IBOVESPA
30       ^MXX                 IPC MEXICO
31      ^IPSA               S&P/CLX IPSA
32      ^MERV                     MERVAL
33  ^TA125.TA                     TA-125
34    ^CASE30  EGX 30 Price Return Index
35   ^JN0U.JO   Top 40 USD Net TRI Index
36      ^NSEI                   Nifty 50
37   ^NSEBANK                 Nifty Bank
38     ^BSESN                     SENSEX
39  ^INDIAVIX                  India Vix

In [17]:
indices.to_csv("Data/Ticker_Data/indices_all.csv", index=False)

# Stocks

Nothing to see here. Move along.

# Bonds

## US Treasury

In [19]:
treasury = pd.read_html("https://finance.yahoo.com/bonds")[0]
treasury

,Symbol,Name,Last Price,Change,% Change,52 Week Range,Day Chart
0,^IRX,13 Week Treasury Bill,4.193,0.0,0.00%,NaN,NaN
1,^FVX,Treasury Yield 5 Years,3.862,0.0,0.00%,NaN,NaN
2,^TNX,Treasury Yield 10 Years,3.751,0.0,0.00%,NaN,NaN
3,^TYX,Treasury Yield 30 Years,3.827,0.0,0.00%,NaN,NaN

In [21]:
treasury = treasury[["Symbol", "Name"]]
treasury.to_csv(f"{TICKER_DATA_PATH}/us_bonds.csv", index=False)

## Indian Bonds

In [20]:
import webdriver_manager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.chrome.service import Service as ChromeService

In [21]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

[WDM] - Downloading: 100%|██████████| 7.26M/7.26M [00:00<00:00, 27.6MB/s]

In [23]:
# url = "https://in.investing.com/rates-bonds/india-10-year-bond-yield-historical-data"
url = "https://in.investing.com/rates-bonds/india-government-bonds?maturity_from=10&maturity_to=290"
driver.get(url)

In [25]:
table = driver.find_elements(By.TAG_NAME, "table")[0]
table

In [28]:
anchors = table.find_elements(By.TAG_NAME, "a")
text = []
url = []
for anchor in anchors:
    text.append(anchor.text)
    url.append(anchor.get_attribute("href"))

In [29]:
text

['India 3M',
 'India 6M',
 'India 1Y',
 'India 2Y',
 'India 3Y',
 'India 4Y',
 'India 5Y',
 'India 6Y',
 'India 7Y',
 'India 8Y',
 'India 9Y',
 'India 10Y',
 'India 11Y',
 'India 12Y',
 'India 13Y',
 'India 14Y',
 'India 15Y',
 'India 19Y',
 'India 24Y',
 'India 30Y']

In [31]:
url = [u+"-historical-data" for u in url]
url

['https://in.investing.com/rates-bonds/india-3-month-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-6-month-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-1-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-2-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-3-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-4-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-5-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-6-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-7-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-8-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-9-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-10-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-11-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-12-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-13-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-14-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-15-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-19-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-24-year-bond-yield-historical-data',
 'https://in.investing.com/rates-bonds/india-30-year-bond-yield-historical-data']

In [32]:
indian_bonds = pd.DataFrame({"Name": text, "URL": url})
indian_bonds

         Name                                                URL
0    India 3M  https://in.investing.com/rates-bonds/india-3-m...
1    India 6M  https://in.investing.com/rates-bonds/india-6-m...
2    India 1Y  https://in.investing.com/rates-bonds/india-1-y...
3    India 2Y  https://in.investing.com/rates-bonds/india-2-y...
4    India 3Y  https://in.investing.com/rates-bonds/india-3-y...
5    India 4Y  https://in.investing.com/rates-bonds/india-4-y...
6    India 5Y  https://in.investing.com/rates-bonds/india-5-y...
7    India 6Y  https://in.investing.com/rates-bonds/india-6-y...
8    India 7Y  https://in.investing.com/rates-bonds/india-7-y...
9    India 8Y  https://in.investing.com/rates-bonds/india-8-y...
10   India 9Y  https://in.investing.com/rates-bonds/india-9-y...
11  India 10Y  https://in.investing.com/rates-bonds/india-10-...
12  India 11Y  https://in.investing.com/rates-bonds/india-11-...
13  India 12Y  https://in.investing.com/rates-bonds/india-12-...
14  India 13Y  https://in.investing.com/rates-bonds/india-13-...
15  India 14Y  https://in.investing.com/rates-bonds/india-14-...
16  India 15Y  https://in.investing.com/rates-bonds/india-15-...
17  India 19Y  https://in.investing.com/rates-bonds/india-19-...
18  India 24Y  https://in.investing.com/rates-bonds/india-24-...
19  India 30Y  https://in.investing.com/rates-bonds/india-30-...

In [33]:
indian_bonds.to_csv(f"{TICKER_DATA_PATH}/indian_bonds.csv", index=False)

# Currency

In [34]:
url = "https://finance.yahoo.com/currencies"
currency = pd.read_html(url)[0]
currency

      Symbol     Name  Last Price   Change % Change  52 Week Range  Day Chart
0   EURUSD=X  EUR/USD      1.0644   0.0006   +0.05%            NaN        NaN
1      JPY=X  USD/JPY    132.8640   0.0040   +0.00%            NaN        NaN
2   GBPUSD=X  GBP/USD      1.2084   0.0018   +0.15%            NaN        NaN
3   AUDUSD=X  AUD/USD      0.6738   0.0009   +0.13%            NaN        NaN
4   NZDUSD=X  NZD/USD      0.6289  -0.0002   -0.04%            NaN        NaN
5   EURJPY=X  EUR/JPY    141.4070   0.1320   +0.09%            NaN        NaN
6   GBPJPY=X  GBP/JPY    160.5540   0.3320   +0.21%            NaN        NaN
7   EURGBP=X  EUR/GBP      0.8807  -0.0004   -0.05%            NaN        NaN
8   EURCAD=X  EUR/CAD      1.4437   0.0000   +0.00%            NaN        NaN
9   EURSEK=X  EUR/SEK     11.1540   0.0094   +0.08%            NaN        NaN
10  EURCHF=X  EUR/CHF      0.9911  -0.0006   -0.06%            NaN        NaN
11  EURHUF=X  EUR/HUF    399.3300  -0.5000   -0.13%            NaN        NaN
12  EURJPY=X  EUR/JPY    141.4070   0.1320   +0.09%            NaN        NaN
13     CNY=X  USD/CNY      6.9605   0.0000    0.00%            NaN        NaN
14     HKD=X  USD/HKD      7.8021  -0.0041   -0.05%            NaN        NaN
15     SGD=X  USD/SGD      1.3452  -0.0029   -0.21%            NaN        NaN
16     INR=X  USD/INR     82.6970   0.0640   +0.08%            NaN        NaN
17     MXN=X  USD/MXN     19.3920  -0.0030   -0.02%            NaN        NaN
18     PHP=X  USD/PHP     55.4300   0.2500   +0.45%            NaN        NaN
19     IDR=X  USD/IDR  15655.0000  26.0000   +0.17%            NaN        NaN
20     THB=X  USD/THB     34.6380  -0.0020   -0.01%            NaN        NaN
21     MYR=X  USD/MYR      4.4195  -0.0025   -0.06%            NaN        NaN
22     ZAR=X  USD/ZAR     17.0512  -0.0042   -0.02%            NaN        NaN
23     RUB=X  USD/RUB     68.9800   0.6500   +0.95%            NaN        NaN

In [35]:
currency = currency[["Symbol", "Name"]]

In [36]:
more_currency = np.array([["INR=X", "USD/INR"],
                          ["EURINR=X", "EUR/INR"],
                          ["GBPINR=X", "GBP/INR"],
                          ["JPYINR=X", "JPY/INR"]])

more_currency = pd.DataFrame(more_currency, columns=["Symbol", "Name"])
currency = currency.append(more_currency, ignore_index=True)
currency

/tmp/ipykernel_5331/4189196980.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  currency = currency.append(more_currency, ignore_index=True)

      Symbol     Name
0   EURUSD=X  EUR/USD
1      JPY=X  USD/JPY
2   GBPUSD=X  GBP/USD
3   AUDUSD=X  AUD/USD
4   NZDUSD=X  NZD/USD
5   EURJPY=X  EUR/JPY
6   GBPJPY=X  GBP/JPY
7   EURGBP=X  EUR/GBP
8   EURCAD=X  EUR/CAD
9   EURSEK=X  EUR/SEK
10  EURCHF=X  EUR/CHF
11  EURHUF=X  EUR/HUF
12  EURJPY=X  EUR/JPY
13     CNY=X  USD/CNY
14     HKD=X  USD/HKD
15     SGD=X  USD/SGD
16     INR=X  USD/INR
17     MXN=X  USD/MXN
18     PHP=X  USD/PHP
19     IDR=X  USD/IDR
20     THB=X  USD/THB
21     MYR=X  USD/MYR
22     ZAR=X  USD/ZAR
23     RUB=X  USD/RUB
24     INR=X  USD/INR
25  EURINR=X  EUR/INR
26  GBPINR=X  GBP/INR
27  JPYINR=X  JPY/INR

In [37]:
currency.to_csv(f"{TICKER_DATA_PATH}/currency.csv", index=False)

# Crypto

In [44]:
url = "Crypto.html"
crypto = pd.read_html(url, header=0)[0]
crypto = crypto[["Symbol", "Name"]]
crypto

          Symbol                 Name
0        BTC-USD          Bitcoin USD
1        ETH-USD         Ethereum USD
2       USDT-USD           Tether USD
3       USDC-USD         USD Coin USD
4        BNB-USD              BNB USD
5        XRP-USD              XRP USD
6       BUSD-USD      Binance USD USD
7       DOGE-USD         Dogecoin USD
8        ADA-USD          Cardano USD
9      MATIC-USD          Polygon USD
10       DAI-USD              Dai USD
11      WTRX-USD     Wrapped TRON USD
12       DOT-USD         Polkadot USD
13       LTC-USD         Litecoin USD
14       TRX-USD             TRON USD
15      SHIB-USD        Shiba Inu USD
16     STETH-USD  Lido Staked ETH USD
17       SOL-USD           Solana USD
18   UNI7083-USD          Uniswap USD
19       HEX-USD              HEX USD
20      AVAX-USD        Avalanche USD
21       LEO-USD     UNUS SED LEO USD
22      WBTC-USD  Wrapped Bitcoin USD
23      LINK-USD        Chainlink USD
24  TON11419-USD          Toncoin USD

In [45]:
crypto = crypto[:20]
crypto

         Symbol                 Name
0       BTC-USD          Bitcoin USD
1       ETH-USD         Ethereum USD
2      USDT-USD           Tether USD
3      USDC-USD         USD Coin USD
4       BNB-USD              BNB USD
5       XRP-USD              XRP USD
6      BUSD-USD      Binance USD USD
7      DOGE-USD         Dogecoin USD
8       ADA-USD          Cardano USD
9     MATIC-USD          Polygon USD
10      DAI-USD              Dai USD
11     WTRX-USD     Wrapped TRON USD
12      DOT-USD         Polkadot USD
13      LTC-USD         Litecoin USD
14      TRX-USD             TRON USD
15     SHIB-USD        Shiba Inu USD
16    STETH-USD  Lido Staked ETH USD
17      SOL-USD           Solana USD
18  UNI7083-USD          Uniswap USD
19      HEX-USD              HEX USD

In [46]:
crypto.to_csv(f"{TICKER_DATA_PATH}/crypto.csv", index=False)