In [1]:
import numpy as np
import pandas as pd
import glob
from tqdm import tqdm

In [2]:
indices = pd.read_csv('Data/Ticker_Data/indices_all.csv')
nasdaq200 = pd.read_csv('Data/Ticker_Data/nasdaq200.csv')
nifty200 = pd.read_csv('Data/Ticker_Data/nifty200.csv')

In [3]:
INDICES = glob.glob("Data/Indices/*.csv")
NASDAQ200 = glob.glob("Data/Stocks/nasdaq200/*.csv")
NIFTY200 = glob.glob("Data/Stocks/nifty200/*.csv")

print(len(INDICES), len(NASDAQ200), len(NIFTY200))

24 200 200

In [4]:
sample_stock = pd.read_csv(NASDAQ200[0])
sample_stock.head()

,Date,Open,High,Low,Close,Volume
0,1980-12-12 00:00:00-05:00,0.099874,0.100308,0.099874,0.099874,469033600
1,1980-12-15 00:00:00-05:00,0.095098,0.095098,0.094663,0.094663,175884800
2,1980-12-16 00:00:00-05:00,0.088149,0.088149,0.087715,0.087715,105728000
3,1980-12-17 00:00:00-05:00,0.089886,0.090320,0.089886,0.089886,86441600
4,1980-12-18 00:00:00-05:00,0.092492,0.092927,0.092492,0.092492,73449600

In [5]:
sample_index = pd.read_csv(INDICES[0])
sample_index.head()

         Date        Open        High         Low       Close  Volume
0  1984-08-03  706.200012  718.000000  706.200012  713.000000     0.0
1  1984-08-06  714.900024  736.799988  714.900024  736.799988     0.0
2  1984-08-07  736.799988  736.799988  728.000000  728.500000     0.0
3  1984-08-08  728.000000  730.799988  724.500000  728.500000     0.0
4  1984-08-15  727.599976  735.099976  726.799988  735.099976     0.0

In [6]:
def get_info(file):
    df = pd.read_csv(file)
    ticker = file.split("/")[-1].split(".")[0]
    df["Date"] = pd.to_datetime(df["Date"])
    df = df.sort_values(by="Date", ascending=True)
    high = df["High"].max()
    low = df["Low"].min()
    last = df["Close"].iloc[-1]
    length = len(df)
    start_date = df['Date'].iloc[0].strftime('%Y-%m-%d')
    end_date = df['Date'].iloc[-1].strftime('%Y-%m-%d')
    return [ticker, length, start_date, end_date, high, low, last]

In [7]:
get_info(NASDAQ200[0])

['AAPL',
 10598,
 '1980-12-12',
 '2022-12-22',
 181.88438030728767,
 0.0382125489413738,
 132.22999572753906]

In [8]:
info = []
for file in tqdm(NASDAQ200, desc="NASDAQ200"):
    info.append(get_info(file))

info = pd.DataFrame(info, columns=["Ticker", "Length", "Start Date", "End Date", "High", "Low", "Last"])
info.head()
info.to_csv("Data/Info/nasdaq200_info.csv", index=False)

NASDAQ200: 100%|██████████| 200/200 [00:07<00:00, 25.07it/s]

In [9]:
info = []
for file in tqdm(NIFTY200, desc="NIFTY200"):
    info.append(get_info(file))

info = pd.DataFrame(info, columns=["Ticker", "Length", "Start Date", "End Date", "High", "Low", "Last"])
info.head()
info.to_csv("Data/Info/nifty200_info.csv", index=False)

NIFTY200: 100%|██████████| 200/200 [00:04<00:00, 47.56it/s]

In [11]:
info = []
for file in tqdm(INDICES, desc="INDICES"):
    try:
        info.append(get_info(file))
    except:
        print(file)

info = pd.DataFrame(info, columns=["Ticker", "Length", "Start Date", "End Date", "High", "Low", "Last"])
info.head()
info.to_csv("Data/Info/indices_info.csv", index=False)

INDICES:  67%|██████▋   | 16/24 [00:00<00:00, 36.37it/s]

Data/Indices/INDIAVIX.csv

INDICES: 100%|██████████| 24/24 [00:00<00:00, 36.26it/s]