In [20]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import requests
import bs4

In [7]:
# Download the Future data for AAPL
aapl = yf.Ticker("AAPL")
aapl_opt = aapl.option_chain('2023-01-20')

In [8]:
appl_future = aapl_opt.calls
appl_future.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230120C00030000,2022-12-29 14:30:08+00:00,30.0,98.14,0.0,0.0,0.0,0.0,1,0,0.00001,True,REGULAR,USD
1,AAPL230120C00035000,2022-12-21 14:30:39+00:00,35.0,98.50,0.0,0.0,0.0,0.0,1,0,0.00001,True,REGULAR,USD
2,AAPL230120C00040000,2022-12-21 16:40:36+00:00,40.0,95.70,0.0,0.0,0.0,0.0,4,0,0.00001,True,REGULAR,USD
3,AAPL230120C00050000,2023-01-03 19:55:13+00:00,50.0,74.85,0.0,0.0,0.0,0.0,12,0,0.00001,True,REGULAR,USD
4,AAPL230120C00055000,2022-12-28 20:16:41+00:00,55.0,71.40,0.0,0.0,0.0,0.0,21,0,0.00001,True,REGULAR,USD

In [10]:
aapl._fundamentals.shares

      BasicShares
Year
2019  18471336000
2020  17352119000
2021  16701272000

In [14]:
df = pd.read_html("temp.html")[0]

In [15]:
df

             Date     Price      Open      High       Low  Volume    Chg%
0    Jan 03, 2023  18317.30  18234.90  18333.90  18210.05   6.80M   0.23%
1    Jan 02, 2023  18275.85  18209.00  18294.40  18164.70   5.48M   0.38%
2    Dec 30, 2022  18206.85  18338.00  18374.00  18172.35   8.01M   0.09%
3    Dec 29, 2022  18191.00  18122.00  18198.00  17985.00   6.94M   0.38%
4    Dec 28, 2022  18122.35  18097.75  18178.40  18073.85   6.55M  -0.71%
..            ...       ...       ...       ...       ...     ...     ...
257  Jan 07, 2022  17854.30  17831.10  17949.00  17736.00   8.89M   0.37%
258  Jan 06, 2022  17788.65  17830.00  17845.50  17685.65  12.00M  -0.96%
259  Jan 05, 2022  17960.95  17840.00  17985.00  17786.00   7.92M   0.64%
260  Jan 04, 2022  17846.75  17730.00  17870.80  17632.40   7.54M   0.95%
261  Jan 03, 2022  17677.95  17443.00  17692.35  17410.05   7.98M   1.54%

[262 rows x 7 columns]

In [17]:
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)

# Index

https://www1.nseindia.com/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=FUTIDX&symbol=NIFTY&expiryDate=29-12-2022&optionType=select&strikePrice=&dateRange=24month&fromDate=&toDate=&segmentLink=9&symbolCount=

In [26]:
url = "https://www1.nseindia.com/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=FUTIDX&symbol=NIFTY&expiryDate=29-12-2022&optionType=select&strikePrice=&dateRange=3month&fromDate=&toDate=&segmentLink=9&symbolCount="

r = requests.get(url, headers={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"})
soup = bs4.BeautifulSoup(r.text, "lxml")

/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=FUTIDX&symbol=NIFTY&expiryDate=29-12-2022&optionType=select&strikePrice=&dateRange=&fromDate=29-Oct-2022&toDate=29-Dec-2022&segmentLink=9&symbolCount=

/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=OPTIDX&symbol=NIFTY&expiryDate=29-12-2022&optionType=PE&strikePrice=18000&dateRange=&fromDate=29-Oct-2022&toDate=29-Dec-2022&segmentLink=9&symbolCount=

/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=OPTSTK&symbol=HDFC&expiryDate=29-12-2022&optionType=CE&strikePrice=18000&dateRange=&fromDate=29-Oct-2022&toDate=29-Dec-2022&segmentLink=9&symbolCount=

/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=FUTSTK&symbol=HDFC&expiryDate=29-12-2022&optionType=select&strikePrice=&dateRange=&fromDate=29-Oct-2022&toDate=29-Dec-2022&segmentLink=9&symbolCount=

**Details:**

* **Instrument Type:** FUTIDX, OPTIDX, FUTSTK, OPTSTK
* **optionType:** CE, PE, select
* **dateRange:** day, week, 15days, 1month, 3month, 12month, 24month

In [29]:
def create_url(
    type="FUTIDX",
    symbol="NIFTY",
    expiryDate="29-12-2022",
    optionType="select",
    strikePrice="",
    dateRange="3month",
    fromDate="",
    toDate="",
):
    url = "https://www1.nseindia.com/products/dynaContent/common/productsSymbolMapping.jsp?"
    url += f"instrumentType={type}&"
    url += f"symbol={symbol}&"
    url += f"expiryDate={expiryDate}&"
    url += f"optionType={optionType}&"
    url += f"strikePrice={strikePrice}&"
    url += f"dateRange={dateRange}&"
    url += f"fromDate={fromDate}&"
    url += f"toDate={toDate}&"
    url += "segmentLink=9&symbolCount="
    return url

- NIFTY: NIFTY
- Nifty Bank: BANKNIFTY
- S&P: S&P500

In [35]:
url = create_url(symbol="BANKNIFTY")
url

'https://www1.nseindia.com/products/dynaContent/common/productsSymbolMapping.jsp?instrumentType=FUTIDX&symbol=BANKNIFTY&expiryDate=29-12-2022&optionType=select&strikePrice=&dateRange=3month&fromDate=&toDate=&segmentLink=9&symbolCount='

```javascript
$(document).ready(function() {
	$("#historicalData").hide();
	$("#getButton").attr('disabled',false);
	$('#getButton').click(function(e) {

	var flagData = validateData();
	//alert("Validate data flag >>>>"+flagData);
		if (flagData){
	var symbol = $('#symbol').val();
	symbol = escape(symbol);
		var dataUrl = '/products/dynaContent/common/productsSymbolMapping.jsp?'
					+ 'instrumentType=' + $('#instrumentType').val()
					+ '&symbol=' + symbol
					+ '&expiryDate=' + $('#expiryDate').val()
					+ '&optionType=' + $('#optionType').val()
					+ '&strikePrice=' + $('#strikePrice').val()
					+ '&dateRange=' + $('#dateRange').val()
					+ '&fromDate=' + $('#fromDate').val()
					+ '&toDate=' + $('#toDate').val()
					+ '&segmentLink=' + $('#segmentLink').val()
					+ '&symbolCount=' + $('#symbolCount').val()
		console.log(dataUrl);
		$("#historicalData").show();
		$('#historicalData').html("<img src='/images/loading_trades.gif' align=\"center\" border=\"0\">");

			$.ajax({
				url: dataUrl,
				success: function(data, textStatus, XMLHttpRequest) {
					
					$('#historicalData').html(data);
					$('tr:even').addClass("alt");
					$("td").css("white-space", "nowrap");

					$(".download-data-link > a").click(function (event) {
							exportDivToCSV.apply( $(this), [$("#csvContentDiv").html(), $("#csvFileName").val()]);
						});

				}
			});
		}else{
			return false;
		}
	});

});

In [28]:
pd.read_html(soup.prettify())[0]

   Historical Contract-wise Price Volume Data                            \
                                       Symbol         Date       Expiry
0                                       NIFTY  06-Oct-2022  29-Dec-2022
1                                       NIFTY  07-Oct-2022  29-Dec-2022
2                                       NIFTY  10-Oct-2022  29-Dec-2022
3                                       NIFTY  11-Oct-2022  29-Dec-2022
4                                       NIFTY  12-Oct-2022  29-Dec-2022
5                                       NIFTY  13-Oct-2022  29-Dec-2022
6                                       NIFTY  14-Oct-2022  29-Dec-2022
7                                       NIFTY  17-Oct-2022  29-Dec-2022
8                                       NIFTY  18-Oct-2022  29-Dec-2022
9                                       NIFTY  19-Oct-2022  29-Dec-2022
10                                      NIFTY  20-Oct-2022  29-Dec-2022
11                                      NIFTY  21-Oct-2022  29-Dec-2022
12                                      NIFTY  25-Oct-2022  29-Dec-2022
13                                      NIFTY  27-Oct-2022  29-Dec-2022
14                                      NIFTY  28-Oct-2022  29-Dec-2022
15                                      NIFTY  31-Oct-2022  29-Dec-2022
16                                      NIFTY  01-Nov-2022  29-Dec-2022
17                                      NIFTY  03-Nov-2022  29-Dec-2022
18                                      NIFTY  04-Nov-2022  29-Dec-2022
19                                      NIFTY  07-Nov-2022  29-Dec-2022
20                                      NIFTY  09-Nov-2022  29-Dec-2022
21                                      NIFTY  10-Nov-2022  29-Dec-2022
22                                      NIFTY  11-Nov-2022  29-Dec-2022
23                                      NIFTY  14-Nov-2022  29-Dec-2022
24                                      NIFTY  15-Nov-2022  29-Dec-2022
25                                      NIFTY  16-Nov-2022  29-Dec-2022
26                                      NIFTY  17-Nov-2022  29-Dec-2022
27                                      NIFTY  18-Nov-2022  29-Dec-2022
28                                      NIFTY  21-Nov-2022  29-Dec-2022
29                                      NIFTY  22-Nov-2022  29-Dec-2022
30                                      NIFTY  23-Nov-2022  29-Dec-2022
31                                      NIFTY  24-Nov-2022  29-Dec-2022
32                                      NIFTY  25-Nov-2022  29-Dec-2022
33                                      NIFTY  28-Nov-2022  29-Dec-2022
34                                      NIFTY  29-Nov-2022  29-Dec-2022
35                                      NIFTY  30-Nov-2022  29-Dec-2022
36                                      NIFTY  01-Dec-2022  29-Dec-2022
37                                      NIFTY  02-Dec-2022  29-Dec-2022
38                                      NIFTY  05-Dec-2022  29-Dec-2022
39                                      NIFTY  06-Dec-2022  29-Dec-2022
40                                      NIFTY  07-Dec-2022  29-Dec-2022
41                                      NIFTY  08-Dec-2022  29-Dec-2022
42                                      NIFTY  09-Dec-2022  29-Dec-2022
43                                      NIFTY  12-Dec-2022  29-Dec-2022
44                                      NIFTY  13-Dec-2022  29-Dec-2022
45                                      NIFTY  14-Dec-2022  29-Dec-2022
46                                      NIFTY  15-Dec-2022  29-Dec-2022
47                                      NIFTY  16-Dec-2022  29-Dec-2022
48                                      NIFTY  19-Dec-2022  29-Dec-2022
49                                      NIFTY  20-Dec-2022  29-Dec-2022
50                                      NIFTY  21-Dec-2022  29-Dec-2022
51                                      NIFTY  22-Dec-2022  29-Dec-2022
52                                      NIFTY  23-Dec-2022  29-Dec-2022
53                                      NIFTY  26-Dec-2022  29-Dec-2022
54                                      NIFTY  27-Dec-2022  29-Dec-2022
55                                      NIFTY  28-Dec-2022  29-Dec-2022
56                                      NIFTY  29-Dec-2022  29-Dec-2022

                                                                   \
        Open      High       Low     Close       LTP Settle Price
0   17488.00  17539.95  17417.95  17430.20  17417.95     17430.20
1   17413.90  17451.10  17326.95  17432.25  17438.05     17432.25
2   17301.00  17377.70  17160.20  17328.25  17336.20     17328.25
3   17320.00  17336.20  17058.00  17087.75  17065.00     17087.75
4   17096.00  17232.00  17060.00  17217.40  17225.00     17217.40
5   17167.00  17183.85  17035.20  17110.60  17111.20     17110.60
6   17305.15  17455.30  17275.00  17293.75  17304.00     17293.75
7   17240.10  17410.00  17202.70  17394.25  17402.40     17394.25
8   17504.00  17620.00  17475.50  17588.30  17595.00     17588.30
9   17639.65  17680.85  17552.00  17587.65  17594.00     17587.65
10  17521.00  17651.95  17466.05  17637.05  17645.00     17637.05
11  17676.35  17750.00  17593.55  17656.05  17664.30     17656.05
12  17858.00  17869.75  17735.05  17748.45  17743.95     17748.45
13  17844.90  17915.90  17769.00  17848.00  17862.00     17848.00
14  17850.00  17941.00  17836.15  17893.10  17900.00     17893.10
15  18000.00  18120.45  18000.00  18109.95  18111.50     18109.95
16  18186.05  18287.80  18156.25  18274.45  18277.20     18274.45
17  18100.00  18219.95  18062.45  18186.20  18185.00     18186.20
18  18185.00  18297.00  18142.50  18270.05  18295.45     18270.05
19  18360.00  18378.00  18204.45  18347.45  18340.50     18347.45
20  18410.80  18451.60  18270.40  18299.95  18275.00     18299.95
21  18201.35  18245.40  18125.00  18182.35  18188.00     18182.35
22  18420.00  18600.00  18405.00  18514.45  18531.00     18514.45
23  18531.05  18561.40  18454.55  18468.55  18461.05     18468.55
24  18500.00  18580.00  18437.30  18554.30  18576.10     18554.30
25  18545.00  18578.00  18482.00  18539.55  18532.85     18539.55
26  18498.65  18559.70  18441.20  18470.65  18449.05     18470.65
27  18476.05  18510.00  18350.15  18442.90  18432.00     18442.90
28  18385.10  18385.10  18251.00  18284.05  18283.25     18284.05
29  18315.00  18388.85  18265.00  18373.85  18386.00     18373.85
30  18401.05  18451.00  18378.35  18396.85  18383.30     18396.85
31  18431.50  18659.50  18413.00  18626.15  18651.25     18626.15
32  18631.20  18668.20  18581.15  18646.10  18645.95     18646.10
33  18585.00  18742.30  18566.15  18694.10  18690.00     18694.10
34  18692.00  18797.65  18670.15  18733.60  18731.00     18733.60
35  18736.00  18905.05  18721.20  18874.50  18890.00     18874.50
36  18957.70  18998.85  18890.00  18948.30  18945.00     18948.30
37  18948.95  18948.95  18760.05  18812.55  18815.00     18812.55
38  18798.90  18856.40  18710.45  18817.75  18821.25     18817.75
39  18731.30  18790.00  18682.40  18771.35  18770.50     18771.35
40  18680.15  18774.65  18650.40  18670.25  18673.70     18670.25
41  18675.00  18740.90  18637.30  18720.15  18724.95     18720.15
42  18760.00  18776.95  18515.00  18583.65  18571.90     18583.65
43  18520.00  18638.65  18456.15  18605.20  18605.50     18605.20
44  18630.00  18717.95  18575.60  18703.85  18711.50     18703.85
45  18775.55  18807.55  18720.05  18748.90  18738.40     18748.90
46  18705.60  18742.40  18437.55  18467.00  18445.50     18467.00
47  18367.00  18488.85  18313.20  18328.65  18330.00     18328.65
48  18340.00  18519.00  18308.60  18499.30  18499.00     18499.30
49  18420.00  18449.00  18231.90  18423.95  18425.00     18423.95
50  18470.10  18514.90  18223.00  18275.90  18277.90     18275.90
51  18327.00  18356.90  18112.00  18170.35  18159.30     18170.35
52  18055.05  18115.00  17831.20  17863.90  17880.10     17863.90
53  17890.05  18106.00  17835.55  18027.30  18018.10     18027.30
54  18082.20  18152.05  17969.00  18138.00  18144.15     18138.00
55  18097.75  18178.40  18073.85  18122.35  18113.65     18122.35
56  18122.00  18198.00  17985.00  18182.05  18192.00     18191.00

                                                                 \
   No. of contracts Turnover *  in  Lacs  Open Int Change in OI
0              3265             28536.57    185500        28900
1              2597             22582.22    194200         8700
2              5601             48298.42    230200        36000
3              4830             41518.34    289750        59550
4              4529             38824.47    292750         3000
5              4624             39525.84    345800        53050
6              6855             59559.82    350350         4550
7              4506             39027.96    371050        20700
8              6729             59142.83    360250       -10800
9              5643             49729.48    411100        50850
10             6916             60780.75    534200       123100
11             6006             53131.74    602950        68750
12             5088             45258.72    657550        19400
13             9740             86842.56    850300       192750
14            11220            100363.51   1020950       170650
15             9611             86847.15   1113900        92950
16            11552            105356.08   1172350        58450
17             9519             86443.32   1313900        90250
18             9380             85376.61   1439250       125350
19            14870            136076.80   1552050       112800
20            11121            101995.31   1594950        42900
21            12142            110360.11   1671650        76700
22            20300            187436.62   1688150        16500
23            12477            115389.07   1836450       148300
24            13644            126181.31   1997050       160600
25            16190            150044.93   2078350        81300
26            16051            148482.16   2277200       198850
27            29245            269230.50   2409200       132000
28            44828            409883.97   3333000       923800
29            55849            512018.98   4658600      1325600
30            98779            909265.60   7634750      2976150
31           190026           1761143.01  11190200      3555450
32           125828           1171599.17  11331150       140950
33           122999           1149600.15  11940400       609250
34           113058           1060223.31  12011950        71550
35           137806           1295864.83  12413300       401350
36           144744           1371677.57  12378050       -35250
37           162318           1527603.83  11461950      -916100
38           139884           1313893.97  11381350       -80600
39           134502           1259986.24  11070100      -311250
40           132092           1235162.29  11143600        73500
41           118166           1104796.68  10928800      -214800
42           167045           1556309.22  11074050       145250
43           141560           1314309.01  10690650      -383400
44           124896           1165649.35  10552950      -137700
45           120161           1127658.71  10508150       -44800
46           186216           1729919.20  10920100       411950
47           215375           1980592.89  10442850      -477250
48           145495           1340632.78  10076650      -366200
49           214251           1963433.67  10062000       -14650
50           235813           2163637.33  10206100       144100
51           223231           2031641.60   9979350      -226750
52           241009           2165483.88   9849650      -129700
53           170067           1530216.46   7871600     -1978050
54           163650           1479010.96   6343800     -1527800
55           130940           1187022.80   4519550     -1824250
56           138782           1253291.83   3013200     -1506350

                                                             \
   Underlying Value Unnamed: 14_level_1 Unnamed: 15_level_1
0          17331.80                 NaN                 NaN
1          17314.65                 NaN                 NaN
2                 -                 NaN                 NaN
3                 -                 NaN                 NaN
4          17123.60                 NaN                 NaN
5                 -                 NaN                 NaN
6                 -                 NaN                 NaN
7          17311.80                 NaN                 NaN
8                 -                 NaN                 NaN
9          17512.25                 NaN                 NaN
10         17563.95                 NaN                 NaN
11         17576.30                 NaN                 NaN
12         17656.35                 NaN                 NaN
13         17736.95                 NaN                 NaN
14                -                 NaN                 NaN
15         18012.20                 NaN                 NaN
16                -                 NaN                 NaN
17         18052.70                 NaN                 NaN
18                -                 NaN                 NaN
19                -                 NaN                 NaN
20         18157.00                 NaN                 NaN
21         18028.20                 NaN                 NaN
22         18349.70                 NaN                 NaN
23                -                 NaN                 NaN
24         18403.40                 NaN                 NaN
25         18409.65                 NaN                 NaN
26         18343.90                 NaN                 NaN
27                -                 NaN                 NaN
28         18159.95                 NaN                 NaN
29         18244.20                 NaN                 NaN
30         18267.25                 NaN                 NaN
31                -                 NaN                 NaN
32         18512.75                 NaN                 NaN
33         18562.75                 NaN                 NaN
34                -                 NaN                 NaN
35         18758.35                 NaN                 NaN
36         18812.50                 NaN                 NaN
37                -                 NaN                 NaN
38                -                 NaN                 NaN
39                -                 NaN                 NaN
40         18560.50                 NaN                 NaN
41                -                 NaN                 NaN
42                -                 NaN                 NaN
43         18497.15                 NaN                 NaN
44                -                 NaN                 NaN
45         18660.30                 NaN                 NaN
46                -                 NaN                 NaN
47         18269.00                 NaN                 NaN
48         18420.45                 NaN                 NaN
49         18385.30                 NaN                 NaN
50         18199.10                 NaN                 NaN
51                -                 NaN                 NaN
52                -                 NaN                 NaN
53         18014.60                 NaN                 NaN
54                -                 NaN                 NaN
55         18122.50                 NaN                 NaN
56         18191.00                 NaN                 NaN


   Unnamed: 16_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
26                 NaN
27                 NaN
28                 NaN
29                 NaN
30                 NaN
31                 NaN
32                 NaN
33                 NaN
34                 NaN
35                 NaN
36                 NaN
37                 NaN
38                 NaN
39                 NaN
40                 NaN
41                 NaN
42                 NaN
43                 NaN
44                 NaN
45                 NaN
46                 NaN
47                 NaN
48                 NaN
49                 NaN
50                 NaN
51                 NaN
52                 NaN
53                 NaN
54                 NaN
55                 NaN
56                 NaN